.qna-card{
    height: 95px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background: #D7C7F421;
    gap: 15px;
}
.qna-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.qna-user{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    text-align: left;
    color: #000000;
}
.qna-res{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;

}
.qna-date{
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: rgba(0, 0, 0, 0.62);
}