.qna-card{
    height: 100%;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
    gap: 15px;
}
.chat-type-logo{
    width: 45px;
    height: 45px;
}
.qna-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.qna-user{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    text-align: left;
    color: #c7a8ce;
}
.qna-res{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;

}
.qna-date{
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: rgb(200 190 190 / 62%);
}